<h2>Create New Landmark</h2>

<!-- add content here -->

<h1>Create a new landmark </h1>

<form action="/landmarks" method = "post">

<label for="landmark_name">Landmark Name:</label>
<input id="landmark_name" type="text" name="landmark[name]">

<label for="landmark_year">Landmark Year Completed:</label>
<input id="landmark_year" type="text" name="landmark[year]">



<% Landmark.all.each do |landmark| %>
  <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= landmark.name %></input>
<% end %>

<br><br>

<h1>Create a New Figure</h1>

<label for="new_landmark">Landmark:</label>
<input id="new_landmark" type="text" name="landmark[name]">



<br><br>

<button type="submit" value = "Create New Figure">Submit</button>
</form>



<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
